@use "../abtract/variables" as colors;
@use "../abtract/mixins" as layout;
@font-face {
  font-family: KumbhSans_regular;
  src: url("../assets/fonts/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: KumbhSans_bold;
  src: url("../assets/fonts/KumbhSans-Bold.ttf");
}
body {
  width: 100%;
  min-height: 100vh;
  font-size: 12px;
  hyphens: auto;
  font-smooth: always;
  font-family: KumbhSans_regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: KumbhSans_bold;
  font-size: colors.$lg;
  color: colors.$very-dark-desaturated-blue;
  padding-left: 1rem;
  @include layout.media-break(max-width, 480px) {
    text-align: center;
  }
}

h2 {
  font-weight: 500;
  font-size: colors.$rg;
  color: colors.$very-dark-grayish-blue;
  @include layout.media-break(max-width, 480px) {
    font-size: 1.1em;
  }
}

p {
  font-size: colors.$sm;
  color: colors.$dark-grayish-blue;
  text-decoration: none;
}
