*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

html {
  scroll-behavior: smooth;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

li {
  list-style-type: none;
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  list-style: none;
}
button {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}
